body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #333;
  font-family: "Titillium Web", sans-serif;
}
body header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.0196078431);
}
body header .navbar {
  background-color: unset !important;
}
body header .navbar .navbar-brand {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Yellowtail", cursive;
  font-size: 2.5rem;
  padding-right: 1rem;
}
body header .navbar .nav-item {
  margin: 0 0.5rem;
}
body header .navbar .nav-item .nav-link {
  color: #333 !important;
  border-radius: 8px;
}
body header .navbar .nav-item .nav-link:hover {
  background-color: #eaf3fe !important;
}
body header .navbar .nav-item .dropdown-menu {
  background-color: #fff;
}
body header .navbar .nav-item .dropdown-menu .dropdown-item {
  color: #333;
}
body header .navbar .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #eaf3fe;
  color: #333;
}
body header .navbar .dropdown-menu {
  border: 0;
}
body main {
  padding: 7rem 0 2rem 0;
}
body main .home-hero {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body main .page-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
body main .page-content .content-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
body main .page-content .content-card .content-image {
  background-size: cover;
  background-position: center;
  height: 10rem;
}
body main .page-content .content-card .content-info {
  color: #eee;
  padding: 0.5rem;
}
body main .page-content .content-card .content-info .content-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
body main .page-content .content-card .content-info.static {
  background: linear-gradient(to right, #89216B, #DA4453);
}
body main .page-content .content-card .content-info.laravel {
  background: linear-gradient(to right, #2F0743, #41295a);
}
body main .page-content .content-card .content-info.wordpress {
  background: linear-gradient(to right, #373B44, #4286f4);
}
body main .page-content .content-card .content-info.unas {
  background: linear-gradient(to right, #159957, #155799);
}
body main .page-content .sheet {
  background-color: #fff;
  color: #333;
  padding: 5rem 7.5rem;
}
body main .page-content .sheet .block .block-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
body main .page-content .sheet .block .stack {
  color: #eee;
  padding: 0.05rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.0196078431);
}
body main .page-content .sheet .block .stack.frontend {
  background-color: #764ba2;
}
body main .page-content .sheet .block .stack.backend {
  background-color: #b12a5b;
}
body main .page-content .sheet .block .stack.other {
  background-color: #0ba360;
}
body main .page-content .sheet .block .image {
  background-image: url(/img/gorbicz_roland_cv.jpg);
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  border: 5px solid #764ba2;
  z-index: 1;
  position: relative;
  left: 10px;
}
body main .page-content .sheet .block .title {
  background-color: #764ba2;
  color: #eee;
  padding: 2rem;
  text-align: center;
  z-index: 0;
  position: relative;
  bottom: 190px;
}
body main .page-content .sheet .block.main-title {
  margin-bottom: -7rem;
}
body main .page-content .sheet .block.bg-alt {
  background-color: #D2DAE4;
  padding: 1rem;
  border-radius: 8px;
}
body main .page-content .sheet .cv-contact .fab {
  font-size: 2rem;
}
body main .page-content .sheet .cv-contact .contact-data {
  color: #333;
}
body main .page-content a {
  text-decoration: none;
}
body main .material-symbols-outlined {
  position: relative;
  top: 7px;
}
body main .link {
  color: #eee;
  text-decoration: none;
}
body main .contact-link {
  margin-bottom: 0.5rem;
}
body main .contact-link .contact-data {
  color: #eee;
  text-decoration: none;
  background-color: #764ba2;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  margin: 0.5rem auto;
  width: 25%;
}
body main .contact-link .contact-data:hover {
  background-color: #3B2551;
}
body main .stack-type {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.0196078431);
}
body main .stack-type .stack {
  color: #eee;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.0196078431);
}
body main .stack-type .stack.frontend {
  background-color: #764ba2;
}
body main .stack-type .stack.backend {
  background-color: #b12a5b;
}
body main .stack-type .stack.other {
  background-color: #0ba360;
}
body main .swiper {
  width: 100%;
  padding-bottom: 50px;
}
body main .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
body main .swiper .swiper-slide img {
  display: block;
  width: 100%;
}
body footer {
  border-top: 1px solid #333;
  color: #eee;
  background-color: #333;
}
body footer .material-symbols-outlined {
  font-size: 2.5rem;
}
body footer .copyright {
  font-size: 1rem;
  position: relative;
  top: 5px;
}
body footer a {
  color: #eee;
  text-decoration: none;
}
body footer a:hover {
  color: #eee;
  text-decoration: underline;
}
body .btn-purple {
  background-color: #667eea;
  border: 0;
  color: #eee;
}
body .btn-purple:hover {
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .dropdown-item {
    text-align: center;
  }
  body main .home-hero {
    position: unset;
    top: unset;
    transform: unset;
  }
  body header .navbar .nav-item .nav-link {
    padding: 0.5rem;
  }
  .mb-sm {
    margin-bottom: 1rem;
  }
  .contactlink {
    width: 100% !important;
  }
  .sheet {
    padding: 0.5rem !important;
  }
  .sheet .block {
    padding: 0.5rem;
  }
  .sheet .block .title {
    bottom: unset !important;
    padding: 1rem !important;
  }
  .sheet .block .image {
    left: unset !important;
    top: 15px;
    margin: auto;
    width: 10rem !important;
    height: 10rem !important;
  }
  .sheet .block.main-title {
    margin-bottom: 1rem !important;
  }
  .sheet .block td {
    vertical-align: top;
  }
  .swiper .swiper-slide {
    width: 200px !important;
    height: 200px !important;
  }
  .desktop-only {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
